[submodule "libs/libdetours/Detours"]
	path = libs/libdetours/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "sjson"]
	path = libs/sjson
	url = git@github.com:nfrechette/sjson-cpp.git
